html {
    height: 100vh; 
    width: 100vw;
}
 

body {
    border: 2%;
    background-color: blue;
    width: 400px;
    height: 800px;
    border-color: black;
    border: 2%;

}

.container {
   
    width: 800px;
    height: 800px;
    border-color: black;
    border: 2em;

}

td {
    width: 100px;
    height: 100px;
    
}
.black {
    background-color: black;
}
.white {
    background-color: white;
}

